@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background: rgb(12, 117, 254);
  background: linear-gradient(
    90deg,
    rgba(12, 117, 254, 0.6475840336134453) 0%,
    rgba(12, 117, 254, 1) 50%,
    rgba(12, 117, 254, 0.8044467787114846) 93%
  );

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 10px;
    height: 50px;
    width: 50px;
  }

  &__title {
    color: #fff;
    font-size: 24px;
    margin-left: 5px;
  }
}

.link {
  padding: 10px 15px 10px 40px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.4s;
  border-radius: 5px;
  position: relative;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  &--contacts {
    &::after {
      background-image: url("../images/compass.svg");
    }
  }

  &--start {
    &::after {
      background-image: url("../images/switch.svg");
    }
  }
}

.main {
  &__inner {
    border-top: 1px solid transparent;
  }

  &__content {
    background: rgb(12, 117, 254);
    background: linear-gradient(
      90deg,
      rgba(12, 117, 254, 0.6475840336134453) 0%,
      rgba(12, 117, 254, 1) 50%,
      rgba(12, 117, 254, 0.8044467787114846) 93%
    );
  }

  &__title {
    text-align: center;
    margin: 50px 0 15px;
  }

  &__desc {
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}

.title {
  font-size: 45px;
  color: #fff;
}
