@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background-color: #0c73fe;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
}

.logo {
  display: flex;
  &__img {
    margin-right: 10px;
  }

  &__title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 2px;
    margin-top: 15px;
  }
}

.link {
  padding: 10px 15px 10px 40px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.4s;
  border-radius: 5px;
  position: relative;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  &--contacts {
    &::after {
      background-image: url("../images/compass.svg");
    }
  }

  &--start {
    &::after {
      background-image: url("../images/switch.svg");
    }
  }
}
