.result-container {
  background: rgb(12, 117, 254);
  background: linear-gradient(
    90deg,
    rgba(12, 117, 254, 0.6475840336) 0%,
    rgb(12, 117, 254) 50%,
    rgba(12, 117, 254, 0.8044467787) 93%
  );
}

.seat-map {
  &__container {
    max-width: 1300px;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__margin-collapse {
    width: 100px;
    height: 1px;
  }

  &__inner-title {
    color: #fff;
  }

  &__inner {
    width: 1000px;
    height: 100%;
    background-image: url("../images/scheme.png");
    background-position: 0px -70px;
    background-size: 1000px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    margin: 0 auto;
  }

  &__description {
    padding: 10px;
    background-color: rgba($color: #3c3c3c, $alpha: 1);
    color: #fff;
    position: absolute;
    display: none;
    z-index: 100;
    width: 200px;
  }

  &__square {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 18px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #d7d7d7;
  }

  &__item {
    background-color: rgba($color: #fff, $alpha: 0.1);
    position: absolute;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.5);

      .seat-map__description {
        display: block;
      }
    }

    &--selected {
      background-color: rgba($color: #ff621f, $alpha: 0.5);
      border: 2px solid red;
    }

    &--1 {
      top: 307px;
      left: 223px;
      width: 163px;
      height: 71px;
    }

    &--2 {
      top: 379px;
      left: 228px;
      width: 159px;
      height: 71px;
    }

    &--3 {
      top: 307px;
      left: 434px;
      width: 72px;
      height: 73px;
    }

    &--4 {
      top: 383px;
      left: 434px;
      width: 72px;
      height: 62px;
    }

    &--5 {
      top: 448px;
      left: 434px;
      width: 72px;
      height: 72px;
    }

    &--6 {
      top: 448px;
      left: 643px;
      width: 72px;
      height: 72px;
    }

    &--7 {
      top: 452px;
      left: 763px;
      width: 159px;
      height: 66px;
    }

    &--8 {
      top: 383px;
      left: 763px;
      width: 159px;
      height: 66px;
    }

    &--9 {
      top: 63px;
      left: 367px;
      width: 64px;
      height: 190px;
    }

    &--10 {
      top: 63px;
      left: 434px;
      width: 67px;
      height: 190px;
    }
  }
}

.feedback-form {
  background-color: #fff;
  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__inner {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    margin-top: 15px;
    min-width: 163px;
  }

  &__textarea {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 30px 0 15px;
    border-radius: 10px;
  }

  &__label {
    position: absolute;
    top: 95px;
    font-size: 10px;
    font-weight: bold;
    // color: #fff;
  }
}
